/* general styling ---------------- */
body {
  background-image: url("./Images/background.jpg");
  background-color: rgb(150, 150, 150);
}

h1 {
  font-size: 45px;
  color: rgb(221, 221, 221);
}

h2 {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(58, 26, 100);
  margin-left: 15px;
}

h3 {
  font-size: 32px;
  color: rgb(58, 26, 100);
  padding-bottom: 10px;
}

h4 {
  font-size: small;
  color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(58, 26, 100);
  margin-left: 15px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.nav-link {
  font-size: 18px;
}

.navbar {
  padding-right: 10px;
}

.card {
  background-color: rgb(150, 150, 150);
  margin-top: 15px;
}

.row {
  margin-right: 0;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: small;
  color: rgb(167, 23, 162);
  background-color: steelblue;
}

/* about me --------------------*/

section img {
  float: left;
  width: 350px;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 3%;
}

section p {
  padding-right: 15px;
  color: rgb(255, 239, 17);
}

/* contact ---------------------*/
.contact {
  background-color: rgb(150, 150, 150);
  margin-top: 15px;
  padding: 15px;
}

.form-group {
  margin: 15px;
  padding-bottom: 15px;
  width: 90%;
}

.btn {
  margin: 15px;
}

/* portfolio --------------------*/
.carousel-indicators {
  margin-bottom: 0;
}

article .card {
  margin-left: 15px;
}

#git {
  margin-left: 10px;
}

#linkedin {
  margin-left: 15px;
}

.proj {
  width: 100%;
  object-fit: cover;
  height: auto;
  padding-bottom: 10px;
}

.far {
  margin-left: 15px;
  color: rgb(155, 35, 35);
}

.resume {
  color: rgb(221, 221, 221);
}

.fas {
  color: rgb(221, 221, 221);
}

.portfolio {
  color: rgb(221, 221, 221);
  display: inline-block;
}
